body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

ul {
  list-style-type: none;
  display: flex;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
}

.extra-bold {
  font-weight: 800;
}